# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# User files
*.user

# Executables
*.exe
*.out
*.app

# Directories
/Debug/
/Release/
/debug-main/
/debug-test-client/
/main-server-debug/
/main debug/
/bin/
